<!DOCTYPE html>
<html ng-app="todoApp">

<head>
    <title>Ejemplo angular</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


    <script src="assets/js/vendor/angular.min.js"></script>


</head>

<body>
    <div class="wrapper ">
        <h1 class="h2">
        <div class="col-xs-4"></div>
         <div class="col-xs-4" >
         		<div class="well " ng-controller=TodoController>
				<form action="#" class="form-inline" ng-submit=addTodo()>
						<div class=" form-group">
							<input type="text" class="form-control" ng-model=inputText size="34px" >
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-plus" aria-hidden=></span>
							</button>
						</div>
				</form>
					<ul class="list-unstyled">
						<li ng-repeat="todo in todos"> <input type="checkbox" ng-model="todo.done"><span>{{todo.task}}</span></li>
					</ul>
			</div>

         </div>
		
			 <div class="col-xs-4"></div>
		</h1>
    </div>




    <script src="assets/js/main.js"></script>
</body>

</html>
